<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
    <style>
        table {
            border-collapse: collapse;
            color: #000000;
            border: 1px solid #000000;
            font-family: monospace;
            text-align: left;
        }
        th, td {
            border: 1px solid #000000;
            border-collapse: collapse;
        }
        div{
            margin: 0 auto;
            width: 50%;
        }
    </style>
</head>
<body>
    <div>
        <h1>Student Data</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result['Name'] }}</td>
                    <td>{{ result['Email'] }}</td>
                    <td>{{ result['ID'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>